<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ventas.Properties.Settings.Inventario_ProductosConnectionString"
            connectionString="Data Source=PC001\PRACTICA;Initial Catalog=Inventario_Productos;Persist Security Info=True;User ID=eliu;Password=0824"
            providerName="System.Data.SqlClient" />
        <add name="Ventas.Properties.Settings.Inventario_Productos" connectionString="Data Source=DEV\DEVELOPER;Initial Catalog=Inventario_Productos;Persist Security Info=True;User ID=eliu;Password=0824"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>